@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    color: black;
    background-color: rgb(182, 233, 241);
    font-style: italic;
    font-size: medium;
  }
}

@layer components{
  .menulink {
    @apply cursor-pointer hover:text-[#c5c5]
  }
}